$loading-bar-color: #ECECEC;

.wrapper {
    width: 25%;
    margin: auto;
    text-align: center;
}

form {
    display: block;
}

.loading-bar {
    height: 15px;
    width: 250px;
    background-color: $loading-bar-color;
    margin-left: calc(50% - 125px);
    margin-top: 5px;
}

.results {
    background-color: #80808017;
    width: 250px;
    margin-left: calc(50% - 125px);
}

.bar {
    background-color: cyan;
    color: black;
    display: inline;
    float: left;
    height: 100%;
    width: 0%;
}